EXCEL_ROLE_RECOMMEND=
SHEET_ROLE_RECOMMEND=

EXCEL_SKILL_GAP=
SHEET_SKILL_GAP=

SENTENCE_TRANSFORMERS_HOME=models/sentence_transformers

FAISS_INDEX_PATH=../models/skills_faiss.index
METADATA_PATH=../models/skills_metadata.pkl
EMBEDDING_MODEL_NAME=all-MiniLM-L6-v2